In [28]:
import fitz  # this is pymupdf
import pandas as pd

In [2]:
with fitz.open("account_statement.pdf") as doc:
    text = ""
    for x, page in enumerate(doc):
        text += page.getText()

Deprecation: 'getText' removed from class 'Page' after v1.19.0 - use 'get_text'.

In [3]:
data_array = text.split("\n")

### __Identifyying Page1__

In [9]:
#Extracting page1 to a list 
mark1 = 0
mark2 = 0

#Identify markers
page1 = []
for x , y in enumerate(data_array):
    if data_array[x] == "Page 2 of 4":
        mark1= x
    
    if data_array[x] == "Page 3 of 4":
        mark2= x

#Extract Page1
page1 = data_array[mark1+6: mark2-1]

### __Fix Description Error__

In [11]:
# Identify if the charcter is a letter
for x ,y in enumerate(page1):

    #Check if the character is alphabet
    if page1[x][:1].isalpha() :
        #print(page1[x])
        #Check if its next character is alaphabet
        if  "." not in page1[x+1]:
            page1[x] = page1[x] +" "+page1[x+1]
            page1[x+1] = ""

# Delete empty spaces
page1 = [x for x in page1 if x]

### __Delete Money In or Out__

In [13]:
#Dealing with the initial element
page1[3] =""

#Looping through the list
x = 3
while x < len(page1):
    x+= 5
    if (x <len(page1)):
        page1[x]= ""
    else :
        break

page1 = [x for x in page1 if x]

### __Posting Date__

In [15]:
#Dealing with the initial element
posting_list = []

#Looping through the list
x = 0
posting_list.append(page1[0])
while x < len(page1):
    x+= 4
    if (x <len(page1)):
        posting_list.append(page1[x])

    else :
        break

### __Transaction Date__

In [17]:

#Dealing with the initial element 
transaction_list = []

#Looping through the list 
x = 1
transaction_list.append(page1[x])

while x < len(page1):
    x+= 4
    if (x <len(page1)):
        transaction_list.append(page1[x])
    else :
        break

### __Desciption__

In [19]:
#Dealing with the initial element 
description_list = []

#Looping through the list 
x = 2
description_list.append(page1[x])

while x < len(page1):
    x+= 4
    if (x <len(page1)):
        description_list.append(page1[x])
    else :
        break

### __Balance__

In [23]:
#Dealing with the initial element 
balance_list = []

#Looping through the list 
x = 3
balance_list.append(page1[x])

while x < len(page1):
    x+= 4
    if (x <len(page1)):
        balance_list.append(page1[x])
    else :
        break

### __Creating Database__

In [29]:
statement_dictionary = {"Posting Date": posting_list,
                        "Transaction Date":transaction_list, 
                        "Description": description_list,
                        "Balance": balance_list
}

#Create Pandas dataframe
statement_df = pd.DataFrame(statement_dictionary)

In [30]:
statement_df.head()

,Posting Date,Transaction Date,Description,Balance
0,31/01/2021,31/01/2021,Interest Received,3 706.13
1,31/01/2021,31/01/2021,Monthly Account Admin Fee,3 701.13
2,01/02/2021,29/01/2021,Cotton On Gauteng (Card 5813),3 338.13
3,01/02/2021,29/01/2021,Clicks Mahube (Card 5813),3 242.50
4,01/02/2021,01/02/2021,Payment Received: 4walls Salary Payment 221861...,3 867.50